.search-box {
  text-align: center;
  padding-top: 12vh;

  .header {
    height: 250px;
    padding-top: 80px;
  }

  .global-button {
    padding-top: 5vh;

    .first-button {
      transition-duration: 600ms;

      &:hover {
        transform: scale(1.1) rotate(-3deg);
        transition: all 0.6s ease-in-out 0s;
      }
    }
  }

  .global-output {
    padding-top: 10vh;
    color: #ffffff;
    width: 100%;

    .second-row {
      padding-top: 5vh;
    }
  }
}
